{
  "database": {
    "type": "mysql",
    "host": "localhost",
    "port": 3306,
    "user": "condict",
    "password": "securePassword123",
    "database": "condict"
  },
  "log": {
    "files": [
      {"path": "server.log", "level": "info"},
      {"path": "error.log", "level": "error"},
      {"path": "debug.log", "level": "debug"}
    ]
  }
}
